{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
  ],
  "extends": [ "airbnb" ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "array-bracket-spacing": 0,
    "arrow-body-style": 0,
    "comma-dangle": [ 2, "always-multiline" ],
    "consistent-return": 0,
    "default-case": 0,
    "dot-notation": 0,
    "func-names": 0,
    "global-require": 0,
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-extraneous-dependencies": [
      "warn", {
        "devDependencies": true
      }
    ],
    "import/no-unresolved": [
      "error", {
        "commonjs": true,
        "amd": true
      }
    ],
    "import/prefer-default-export": 1,
    "jsx-quotes": ["error", "prefer-single"],
    "new-cap": 0,
    "max-len": 0,
    "no-console": 0,
    "no-fallthrough": 1,
    "no-global-assign": 0,
    "no-irregular-whitespace": [
      "error", {
        "skipStrings": true,
        "skipTemplates": true,
        "skipRegExps": true
      }
    ],
    "no-lonely-if": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "no-shadow": 1,
    "no-underscore-dangle": 0,
    "no-unsafe-negation": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [
      "warn", {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-use-before-define": [
      "warn", {
        "functions": false,
        "classes": true
      }
    ],
    "quote-props": 0,
    "react/no-find-dom-node": 1,
    "react/prop-types": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "semi": [ 2, "never" ],
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/resolver": {
      "webpack": {
        "config": "webpack-js.config.js"
      }
    },
    "import/parser": "babel-eslint",
  }
}
