android/
docs/
example/
ios/
src/
lib/__tests__/
lib/**/__tests__/
styleguide/

.babelrc
.buckconfig
.editorconfig
.eslintrc
.flowconfig
.watchmanconfig

gulpfile.js
index.android.js
index.html
index.ios.js
index.web.js

README.md
styleguide.js
webpack.config.js
yarn.lock
