@font-face {
  font-family: 'Ionicons';
  src: url('Ionicons.ttf') format('truetype');
}

* {
  outline: none !important;
}

.sg-section-description img {
  max-width: 100%;
}

/* Hack for Safari http://stackoverflow.com/questions/35464067/flexbox-not-working-on-button-element-in-some-browsers */
button::before,
button::after {
    content: '';
    flex: 1 0 auto;
}

p, li {
  font-size: 15px;
  line-height: 1.5;
}

code {
  font-size: 13px;
}

.sg-section-description a {
  border-top: 0;
  border-bottom: 1px solid #878a8c;
}

td, p, li, a {
  font-weight: normal;
}

.lang-js {
  display: block;
}

.sg-header-copy {
  display: none !important;
}

.sg-header-title {
  margin-bottom: 15px;
}

.sg-section-description table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.sg-section-description thead {
  border-bottom: 2px solid #ddd !important;
}

.sg-section-description th,
.sg-section-description td {
  padding: 10px 5px !important;
}

.sg-section-description td {
  border-bottom: 1px solid rgba(221, 221, 221, 0.4) !important;
}

.sg-section-description tr:last-of-type td:last-of-type {
  border: none !important;
}
